{% extends "todo/base.html" %}

{% block button %}
<a href="{% url 'entry-detail' entry.id %}">
    <button>
        Cancel
    </button>
</a>
<a href="{% url 'entry-update' entry.id %}">
    <button>
        ✍️Edit
    </button>
</a>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p>
        Are you sure you want to delete
        <em>"{{ entry.title }}"</em>
        created on {{ entry.date_created|date:'Y-m-d' }}?
    </p>
    <button type="submit" value="Confirm">
        Confirm
    </button>
</form>
{% endblock %}