{% extends "entries/base.html" %}
{% block button %}
<p>
    <a href="{% url 'entry-update' entry.id %}"><button>✍️ Edit</button></a>
    <a href="{% url 'entry-delete' entry.id %}"><button>⛔ Delete</button></a>
</p>
{% endblock %}
{% block content %}
<section>
    <header>
        <h2 style="color: #2ecc71" ;">
            {{ entry.title |title}}
        </h2>
        <div style=" color: rgb(190, 202, 17);">
            <p>
                {{ entry.content |linebreaks |urlize}}
            </p>
        </div>
        <p>
            <small style="color: rgb(185, 92, 5);">
                Edited : {{ entry.date_created|date:'Y-m-d H:i' }}
            </small>
        </p>
    </header>
</section>
{% endblock %}